@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

.App {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Chicle', cursive;
	letter-spacing: 3px;
	margin-bottom: 60px;
}

.display-button {
	margin: 20px auto;
	padding: 15px;
	border-radius: 5px;
	background-color: #224de3;
	color: #fff;
	border: none;
	letter-spacing: 1.2px;
	font-family: 'Chicle', cursive;
}

.add-button {
	border-radius: 5px;
	background-color: #224de3;
	color: #fff;
	border: none;
	font-family: inherit;
	letter-spacing: 1.2px;
	font-family: 'Chicle', cursive;
}

.smurf-card {
	background: #224de3;
	color: white;
	font-weight: 100;
	padding: 20px;
	width: 40%;
	height: 100px;
	margin: 20px auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.smurf-card button {
	cursor: pointer;
	font-family: inherit;
	font-size: 12px;
	letter-spacing: 1.2px;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	font-family: 'Chicle', cursive;
}

form {
	width: 80%;
	margin: 20px auto;
	display: flex;
	justify-content: space-evenly;
	padding: 5px;
}

input {
	border: none;
	border-bottom: 1px solid #224de3;
	margin-left: 10px;
}

input:focus {
	outline: none;
	padding-bottom: 0;
	border-bottom: 2px solid #224de3;
}
